/target/

/.idea/
/character_icon_request_parse_error
/character_parser_error
/character_request_error
/http requests

/for_tests.txt

/web-api/target/
/common/target/
/push-api/target/
/push-api/firebase-api-keys.json
